
body {
  padding: 20px;
}
nav {
  margin: 15px 15px 0 15px;
  padding-bottom: 20px;

}
nav a {
  margin: 0 5px;
  color: black;
}
nav a:hover {
  color: darkcyan;
}

.postsUserInfo {
  padding-left: 22px;
}

